@import '../../global.scss';

.articles-page-main-wrap {
    font-family: $font1;
    padding: 2em;
}

.article-list-item {
    color: $medium-blue;
    cursor: pointer;
    @media (min-width: 1000px) {
        width: 49%;
        display: inline-block;
    }

    &:hover {
        color: $dark-blue;
        text-decoration: underline;
    }
}