$font1: "Trebuchet MS",Helvetica,sans-serif;
$font2:  Arial, Helvetica, sans-serif;
$faded-red: #CF6766;
$dark-blue: #031424;
$medium-blue: #30415D;
$light-blue: #8EAEBD;

a {
    text-decoration: inherit;
    color: inherit;
}